*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

body{
    background-color: black;
    color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

/* HEADER */

.header {
  background: #1E1E1E;
}

.containerExterno {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.containerExterno nav a {
  color: #ffff;
}

.logo {
    max-width: 300px;
}

.containerInterno ul {
  display: flex;
  flex-wrap: wrap;
}

.containerInterno a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.containerInterno a:hover {
  color: #122ab2;
}

/* MAIN */

.titulo-main{
    color:#FFFF;
    font-size: 3.75em;
    line-height: 1;
    font-weight: 700;
}


.mainBody
{
    max-width: 960px;
    margin: 0 auto;
}

.landing {
    font-size: 6rem;
    margin-top: 100px;
}

.projetos {
    margin-top: 300px;
}



.container ul{
    display:flex;
    flex-wrap: wrap;
}

.item{
    flex: 1 1 300px;
    margin: 20px 10px;      
}

.item a img{
    width: 395px;
    height: 395px;
    object-fit: cover;
}



.habilidades{
    margin-top: 300px;
    margin-bottom: 300px;
}

.habilidadesIcones{
   display: flex;
}

.habilidades-img{
    flex: 1;
    margin: 10px;
    flex-wrap: wrap;
}



.icones{
    max-height: 250px;
}

.sobreMim{
    margin-top: 300px;
    margin-bottom: 300px;
}


.sobre_mim{
    display: flex;
    justify-content: space-evenly;
    font-size: 52pt;
}

.contato{
    padding-bottom: 50px;
}

/*FOOTER*/

.footer {
    grid-area: footer;
    background: linear-gradient(135deg, #424242, #1E1E1E);
    color:#ffff;
    padding: 30px;
    text-align: center;
}
